@model HomeManager.Models.ShoppingList

@{
    ViewBag.Title = "Create";
}

<div data-role="header">
    @Html.ActionLink("Home", "Index", "Home")<h2>Create Shopping List</h2>
</div>

<div data-role="content">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Create" />
        </p>
}
</div>

<div data-role="footer">
    @Html.ActionLink("Back to List", "Index") @Html.ActionLink("Home", "Index", "Home")
</div>
