@model IEnumerable<HomeManager.Models.ShoppingList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Store
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "ui-icon ui-icon-pencil", title = "Edit" })
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "ui-icon ui-icon-plus", title = "Details" })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "ui-icon ui-icon-minus", title = "Delete" })
        </td>
        <td>
            @item.Store
        </td>
    </tr>
}

</table>

