@model HomeManager.Models.ShoppingList

@{
    ViewBag.Title = "Shop";
}

<style>
    .ui-slider .ui-slider-handle { height: 28px; width: 28px; }
</style>

<div id="shop" data-role="page">

    <div data-role="header">
        <h2>@Model.Store</h2>
        <a href="@Url.Action("Clear", new { id = Model.Id })" data-ajax="false">Clear</a>
    </div>

    <div id="shopping" data-role="content">
        <div data-role="fieldcontain">
            <label for="showchecked">Show Checked:</label>
            <select name="showchecked" id="showchecked" data-role="slider">
                <option value="off">Off</option>
                <option value="on">On</option>
            </select> 
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" id="listitems">
            @foreach (var item in Model.ShoppingListItems.OrderBy(i => i.Rank))
            {
                <input id="@("sli_" + item.Id)" name="@("sli_" + item.Id)" class="custom" type="checkbox" />
                <label for="@("sli_" + item.Id)">@Mehroz.Fraction.ToFraction(item.Amount).ToString() @item.Unit @item.Item.Name</label>
            }
            </fieldset>
        </div>
    </div>

    <div data-role="footer">
        @Html.ActionLink("Back to List", "Index")
    </div>

    <script type="text/javascript">
        $('#shop').live('pagecreate', function (e) {
            $("#listitems input[type='checkbox']").change(function (e) {
                var showChecked = $('#showchecked')[0].selectedIndex == 1;

                if (!showChecked && $(this).prop('checked')) {
                    $(this).parent('.ui-checkbox').hide();
                }
            });

            $('#showchecked').change(function (e) {
                var showChecked = $('#showchecked')[0].selectedIndex == 1;

                $("#listitems input[type='checkbox']").each(function(i, checkbox) {
                    if (!showChecked && $(checkbox).prop('checked')) {
                        $(checkbox).parent('.ui-checkbox').hide();
                    }
                    else {
                        $(checkbox).parent('.ui-checkbox').show();
                    }
                });
            });

            $('#showchecked').change();
        });
    </script>
</div>