@model IEnumerable<HomeManager.Models.RecipeStep>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Rank
        </th>
        <th>
            Description
        </th>
        <th>
            Recipe
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Rank
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@(item.Recipe == null ? "None" : item.Recipe.Name)
        </td>
    </tr>
}

</table>


