@model HomeManager.Models.CalendarDetailModel

@using HomeManager;

@{
    ViewBag.Title = "Details";

    DateTime startDate = Model.StartDate;
}

<div data-role="header">
    <h2>Calendar</h2>
</div>

<div data-role="content">
    <ul data-role="listview" data-split-icon="delete">
        @for (int i = 0; i < 7; i++)
        {
            <li data-role="list-divider">@startDate.AddDays(i).DayOfWeek @startDate.AddDays(i).ToShortDateString()</li>

            if (Model.ScheduledRecipes.ContainsKey(startDate.AddDays(i)))
            {
                foreach (var recipe in Model.ScheduledRecipes[startDate.AddDays(i)])
                { 
                <li><a href="#">@recipe.Name</a> <a href="@Url.Action("RemoveRecipe", new { date = startDate.AddDays(i).ToShortDateString(), recipeId = recipe.Id })" data-ajax="false">Remove</a></li>
                }
            }

            <li>
                @using (Html.BeginForm())
                {
                    <input type="hidden" name="date" value="@startDate.AddDays(i).ToShortDateString()" />
                    @Html.DropDownList("recipeId", Model.AvailableRecipes.Select( r => new SelectListItem{Value = r.Id.ToString(), Text = r.Name}), new Dictionary<string, object> { { "data-native-menu", "false" } })
                    <input type="submit" value="Add" data-inline="true" />
                }
            </li>
        }
    </ul>

    <div>
        @using (Html.BeginForm("CreateFromMenu", "ShoppingLists", FormMethod.Post, new { id = "createshoppinglistform" }))
        {
            <input type="hidden" name="startTimestamp" id="startTimestamp" value="@Model.StartDate.ToUnixTimestamp()" />
            <input type="hidden" name="endTimestamp" id="endTimestamp" value="@Model.StartDate.AddDays(7).ToUnixTimestamp()" />
            <input type="submit" value="Add to Grocery List" id="createshoppinglist" />
        }
    </div>
</div>

<div data-role="footer">
    @Html.ActionLink("Home", "Index", "Home")
</div>