@model HomeManager.Models.CalendarDetailModel

@using HomeManager;

@{
    ViewBag.Title = "Details";

    DateTime startDate = Model.StartDate;
}

<div data-role="header">
    @Html.ActionLink("Home", "Index", "Home")<h2>Calendar</h2>
</div>

<style>
    .ui-li .ui-btn { margin: 0.5em 0 }
</style>

<div data-role="content">
    <ul data-role="listview" data-inset="true" data-split-icon="delete">
        @for (int i = 0; i < 7; i++)
        {
            <li data-role="list-divider">@startDate.AddDays(i).DayOfWeek @startDate.AddDays(i).ToShortDateString()</li>

            if (Model.ScheduledRecipes.ContainsKey(startDate.AddDays(i)))
            {
                foreach (var recipe in Model.ScheduledRecipes[startDate.AddDays(i)])
                { 
                <li data-icon="delete"><a data-ajax="false" href="@Url.Action("RemoveRecipe", new { date = startDate.AddDays(i).ToShortDateString(), recipeId = recipe.Id })">@recipe.Name</a></li>
                }
            }

            <li>
                @using (Html.BeginForm())
                {
                    <input type="hidden" name="date" value="@startDate.AddDays(i).ToShortDateString()" />
                    <div data-role="fieldcontain">
                        @Html.DropDownList("recipeId", Model.AvailableRecipes.Select( r => new SelectListItem{Value = r.Id.ToString(), Text = r.Name}), new Dictionary<string, object> { { "data-native-menu", "false" } })
                        <input type="submit" value="Add" data-icon="plus" data-theme="d" data-inline="true" />
                    </div>
                }
            </li>
        }
    </ul>

    <div>
        @using (Html.BeginForm("CreateFromMenu", "ShoppingLists", FormMethod.Post, new { id = "createshoppinglistform" }))
        {
            <input type="hidden" name="startTimestamp" id="startTimestamp" value="@Model.StartDate.ToUnixTimestamp()" />
            <input type="hidden" name="endTimestamp" id="endTimestamp" value="@Model.StartDate.AddDays(7).ToUnixTimestamp()" />
            <input type="submit" data-theme="b" data-icon="plus" value="Add All to Grocery List" id="createshoppinglist" />
        }
    </div>

    <div>
        <a data-theme="d" data-icon="plus" data-role="button" href="webcal://localhost:51031/Menus/Calendar" data-ajax="false">Subscribe in Outlook</a>
    </div>
</div>

<div data-role="footer">
    @Html.ActionLink("Home", "Index", "Home")
</div>