@model HomeManager.Models.Recipe

@{
    ViewBag.Title = "Details";
}

<div data-role="header">
    <h2>@Model.Name</h2>
</div>
<div data-role="content">
    <div>
        <div class="display-field">@Model.Description</div>

        <a href="#" data-role="button" data-inline="true">Prep Time: @Model.PrepTime</a>
        <a href="#" data-role="button" data-inline="true">Cook Time: @Model.CookTime</a>
        <a href="#" data-role="button" data-inline="true">Ready In: @(Model.PrepTime + Model.CookTime)</a>

        <a href="@Model.Source" data-role="button">Source</a>

        <div class="display-label">Rating</div>
        <div class="display-field">@Model.Rating</div>


        <div class="display-label">Servings</div>
        <div class="display-field">@Model.Servings</div>

        <h3>Ingredients:</h3>
        @{ Html.RenderAction("ListAdd", "Ingredients", new { recipeId = Model.Id }); }

        <h3>Directions:</h3>
        @{ Html.RenderAction("ListAdd", "RecipeSteps", new { recipeId = Model.Id }); }
    </div>
</div>
<div data-role="footer" class="ui-bar">
    @Html.ActionLink("Edit", "Edit", new RouteValueDictionary { { "id", Model.Id } }, new Dictionary<string, object> { { "data-role", "button" } }) |
    @Html.ActionLink("Back to List", "Index", null, new Dictionary<string, object> { { "data-role", "button" } })
</div>
