@model HomeManager.Models.Recipe

@{
    ViewBag.Title = "Edit";
}

<div data-role="header">
    <h2>Edit @(Model == null || string.IsNullOrWhiteSpace(Model.Name) ? "Recipe" : Model.Name)</h2>
</div>
<div data-role="content">

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Recipe</legend>

        @Html.HiddenFor(model => model.Id)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

</div>

<div data-role="footer">
    @Html.ActionLink("Back to List", "Index")
</div>
