@model HomeManager.Models.Ingredient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Ingredient</legend>

    <div class="display-label">Amount</div>
    <div class="display-field">@String.Format("{0:F}", Model.Amount)</div>

    <div class="display-label">Unit</div>
    <div class="display-field">@Model.Unit</div>

    <div class="display-label">Item</div>
    <div class="display-field">@(Model.Item == null ? "None" : Model.Item.Name)</div>

    <div class="display-label">Recipe</div>
    <div class="display-field">@(Model.Recipe == null ? "None" : Model.Recipe.Name)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


