@model HomeManager.Models.Recipe

@{
    Layout = "";
}

<div id="listaddingredient">
<ul data-role="listview" data-split-icon="delete">
    @foreach (HomeManager.Models.Ingredient ingredient in Model.Ingredients)
    {
        <li>
            <a href="#">@(ingredient.Amount > 0 ? Mehroz.Fraction.ToFraction(ingredient.Amount).ToString() : string.Empty) @ingredient.Unit @ingredient.Item.Name</a> <a href="@Url.Action("RemoveFromRecipe", new { recipeId = Model.Id, ingredientId = ingredient.Id })" data-ajax="false">Delete</a>
        </li>
    }
    <li>
        @using (Html.BeginForm("Add", "Ingredients"))
        {
            @Html.Hidden("RecipeId", Model.Id)
            <input type="text" name="ingredient" />
            <input type="submit" id="AddIngredient" value="Add" data-inline="true" />
        }
    </li>
</ul>

</div>
