@model HomeManager.Models.ShoppingList

@{
    Layout = "";
}

<div id="listadditem">
@using (Ajax.BeginForm("Add", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "listadditem", OnSuccess = "postAddItem" })) {
@Html.Hidden("ShoppingListId", Model.Id)
<ol id="shoppinglistitems" class="sortable" data-role="listview" data-inset="true">
    @foreach (HomeManager.Models.ShoppingListItem item in Model.ShoppingListItems.OrderBy(s => s.Rank)) {
        <li id="@item.Id" class="recipestep">
            <span>@item.Amount @item.Unit @item.Item.Name</span> @Ajax.ActionLink("Delete", "RemoveFromShoppingList", new { shoppingListId = Model.Id, shoppingListItemId = item.Id }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "listadditem", OnSuccess = "postAddItem" })
        </li>
    }
    <li>
        @Html.TextBox("itemString") <input type="submit" id="AddItem" value="Add" />
    </li>
</ol>
}
</div>
