@model HomeManager.Models.Category

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    CategoryType
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.CategoryTypeId, ((IEnumerable<HomeManager.Models.CategoryType>)ViewBag.PossibleCategoryTypes).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Name), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.CategoryTypeId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.CategoryTypeId)
</div>
